<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248736078310-mfpm880hr0fpol0quh2pckucc1u700pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248736078310-mfpm880hr0fpol0quh2pckucc1u700pl</string>
	<key>API_KEY</key>
	<string>AIzaSyAnCaFvk5ZawA9sormcUay0Ar6L3hDWdqA</string>
	<key>GCM_SENDER_ID</key>
	<string>248736078310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigslickchat.app</string>
	<key>PROJECT_ID</key>
	<string>bigslickchat</string>
	<key>STORAGE_BUCKET</key>
	<string>bigslickchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:248736078310:ios:31353fe3acd69453</string>
	<key>DATABASE_URL</key>
	<string>https://bigslickchat.firebaseio.com</string>
</dict>
</plist>